.header-title{
	font-size: 4rem;
	color: #FF000F;
	
}
.link-title{
	font-size: 2rem;
}
.link-title:hover {
	color: red;
}
.cards {
    
    width: 30%;
   
}
.btns{
	width: 100%;
}
.login-sidebar{
	font-size: 4rem;
}
